b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# wasm example ignores
pkg
target

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
build/**/*

# ignore yarn.lock
yarn.lock

**/dist/**/*
**/.parcel-cache/**/*
circom/cryptography/rsa/private-key-512.pem
circom/cryptography/rsa/private-key.pem
circom/cryptography/rsa/private-key-EC.pem
apps/reactWebClient/key.pem
apps/reactWebClient/cert.pem
