b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# wasm example ignores
pkg
target

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
build/**/*

# ignore yarn.lock
yarn.lock

**/dist/**/*
**/.parcel-cache/**/*

powersOfTau28_hez_final_18.ptau
powersOfTau28_hez_final_14.ptau
